<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .truncate {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
  <title>Twitter</title>
</head>

<body>
  <div class="container">
    <div style="display:flex;flex-wrap: wrap;">
      {{#users }}
      <div
        style="display:flex;border-radius:5px;width:30%;height:300px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; margin:5px;padding:4px;">
        <div style="width: 40%;">
          
          <img height="100" width="100" src="{{image_url}}" alt="{{title}}">
          <div>
            {{#if tweets}}
            {{#tweets}}
              <p class="truncate">{{text}}</p>
            {{/tweets}}
            {{/if}}
          </div>
        </div>
        <div style="width:60%;">
          
          <div>
            <h3>{{title}}</h3>
          </div>
          <div>
            <p>{{description}}</p>
          </div>

        </div>


      </div>
      {{/users}}
    </div>
  </div>
</body>

</html>